{{#each releases}}
{{#if href}}
###{{#unless major}}#{{/unless}} [{{title}}]({{href}})
{{else}}
#### {{title}}
{{/if}}

{{#if tag}}
> {{niceDate}}
{{/if}}

{{#if summary}}
{{summary}}
{{/if}}

{{#commit-list commits heading='**Changes**'}}
- {{subject}} [`{{shorthash}}`]({{href}})
{{/commit-list}}

{{/each}}